{% extends 'layout.html' %}
{% block body %}

  <div id = "info"></div>
  Group Members
  <div class = "list-group", id="list">
    <img src= "../static/images/pierceK_photo.jpg" alt='picture' class='img-thumbnail' width="500" height="600"><br></br>
    Pierce Kotarski <br></br>
    Bio: Third year Mechanical Engineering major. Interested in a career in software.<br></br>
    Major Responsibilities: Writing the Javascript functions and engine. <br></br>

    <img src= "../static/images/bryan_headshot.jpg" alt='picture' class='img-thumbnail' width="500" height="600"><br></br>
    Bryan Lee<br></br>
    Bio: Third year math major, transfer student at UT who likes sports and hanging out with friends.<br></br>
    Major Responsibilities: Google cloud platform<br></br>

    <img src= "../static/images/max_pic.jpg" alt='picture' class='img-thumbnail' width="500" height="600"><br></br>
    Max Wharton<br></br>
    Bio: Fourth year math major who likes watching sports, golfing, and playing video games.<br></br>
    Major Responsibilities: Gathering and maintaining data and media.<br></br>

    <img src= "../static/images/will_pic.jpg" alt='picture' class='img-thumbnail' width="500" height="600"><br></br>
    Will McPherson<br></br>
    Bio: Second year Mechanical Engineering major working towards Elements of Computing certificate. Enjoys hiking and video games.<br></br>
    Major Responsibilities: Front end and technical report.<br></br>

    <img src= "../static/images/braxton_pic.jpg" alt='picture' class='img-thumbnail' width="500" height="600"><br></br>
    Braxton Mills<br></br>
    Bio: Third year Mechanical Economics major working towards Elements of Computing certificate. Enjoys guitar, video games, and working with computers.<br></br>
    Major Responsibilities: About page and image maintenece.<br></br>
  </div>


{% endblock %}

<!--

In this section you're gonna need the group name, group members: name,
photo, bio, major responsibilities, number of commits, no of issues, no of unit tests
  -->
