{% extends 'layout.html' %}
{% block body %}

  <div id = "info"></div>
  <div class = "list-group", id="list">
    <img src= "../static/images/pierceK_photo.jpg" alt='picture' class='img-thumbnail'><br></br>
    Pierce Kotarski <br></br>
    Bio: Mechanical Engineering major. Interested in a career in software.<br></br>
    Major Responsibilities: Writing the Javascript functions and engine. <br></br>
  </div>




{% endblock %}

<!--

In this section you're gonna need the group name, group members: name,
photo, bio, major responsibilities, number of commits, no of issues, no of unit tests
  -->
