{% extends 'layout.html' %}
{% block body %}

  <div id = "info"></div>
  Shark Group
  <div class = "list-group", id="list">
    <!-- Repeat these three lines for each person. -->
    <img src= "put picture name here "alt='picture' class='img-thumbnail'><br></br>
    Name Here: <br></br>
    Bio Here:


  </div>



{% endblock %}

<!--

In this section you're gonna need the group name, group members: name,
photo, bio, major responsibilities, number of commits, no of issues, no of unit tests
  -->
